<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949103564452-mqopb5oe7mbdns5d7v9sp8rq3cd4gkp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949103564452-mqopb5oe7mbdns5d7v9sp8rq3cd4gkp5</string>
	<key>API_KEY</key>
	<string>AIzaSyDt6B_uQa7HJem71MDcohkIipCtUdaW52E</string>
	<key>GCM_SENDER_ID</key>
	<string>949103564452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.davidnoy.LocationBasedNotesApplication</string>
	<key>PROJECT_ID</key>
	<string>locationbasednotesapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>locationbasednotesapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949103564452:ios:031f3f296f2978a253b831</string>
</dict>
</plist>